.error-field {
    -fx-text-fill: #ef4444;
    -fx-border-color: #ef4444;
}

.highlighted {
    -fx-background-color: #fbbf24;
}

.debug-highlighted {
    -fx-background-color: pink;
    -fx-border-width: 2px;
}